body {
	background: #c2efb2;
	color: #000;
	font-family: sans-serif;
}

.wrap {
	background: #edffe7;
	padding: 20px;
	margin: 0 auto;
	width: 800px;
	border: 1px solid #697f61;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #7b9571;
	padding: 10px 15px;
	background: #fff;
}

.phonebook table {
	width: 100%;
}

.details, .back {
	font-size: 0.8rem;
	color: #060;
	border-bottom: 1px dotted;
	cursor: pointer;
	text-decoration: none;
}
.details:hover, .back:hover {
	border-bottom: 1px solid;
	color: #090;
}

.back {
	color: red;
}