body {
	background: #c2efb2;
	color: #000;
	font-family: 'Bitter', serif;
}

.wrap {
	background: #edffe7;
	padding: 20px;
	margin: 0 auto;
	/*width: 800px;*/
	border: 1px solid #697f61;
	border-radius: 5px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #7b9571;
	padding: 10px 15px;
	background: #fff;
	font-size: 0.9em;
}

th {
	text-align: left;
	background: #ccdac7;
	font-size: 1em;
}

input {
	font-family: 'Bitter', serif;
}

input[type='text'] {
	color: #a46;
}

.phonebook table {
	width: 100%;
}

.details, .back {
	font-size: 0.8rem;
	color: #060;
	border-bottom: 1px dotted;
	cursor: pointer;
	text-decoration: none;
}
.details:hover, .back:hover {
	border-bottom: 1px solid;
	color: #090;
}

.back {
	color: red;
}

.btn {
	color: #000;
	padding: 5px 10px;
	border-radius: 2px;
	font-size: 12px;
	text-decoration: none;
	background: #ccc;
	border: 1px solid #555;
	cursor: pointer;
	font-family: 'Bitter', serif;
}

.btn:hover {
	background: #aaa;
}

.remove {
	background: #faa;
}

.add {
	background: #afa;
}